			<ul class="treeview-menu">
              {% for tournament in tournament_list %}
                <li><i class="fa fa-circle-o"></i><a href="/{{ tournament.id }}/">{{tournament.name}}</a></li>
              {% endfor %}
            </ul>