{% load staticfiles %}
{% load tournament_list %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fan fantasy</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
     <!-- Ionicons -->

     <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static "dist/css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link href="{% static "dist/css/skins/skin-blue.min.css" %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
      <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}" type="text/javascript"></script>
    <script src="{% static "plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>

    <!-- DATA TABES SCRIPT -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}" type="text/javascript"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}" type="text/javascript"></script> 
    <!-- CHARTJS SCRIPT -->
    <script src="{% static "plugins/chartjs/Chart2.min.js" %}" type="text/javascript"></script> 
    <script src="{% static "hc/js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "hc/js/highcharts.js" %}" type="text/javascript"></script>
    <script src="{% static "hc/js/highcharts-more.js" %}" type="text/javascript"></script>
    
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

         <!-- Logo -->
        <a href="{%url 'home' %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>F</b>F</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Fan</b>Fantasy</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" /> -->
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{% if user.is_authenticated %}{{ user.username }}{% else %}Please log in.{% endif %}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="left">
                    <a href="#" class="btn btn-default btn-flat">Выйти</a>
                  </li>
                  <!-- The user image in the menu -->
                  <!-- Menu Footer-->
                  
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <i class="fa fa-user green"></i>
            {% if user.is_authenticated %}{{ user.username }}{% else %}Please log in.{% endif %}
              <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>

          </div>
          <!-- Sidebar Menu -->
          <div class="sidebar-menu">
          <ul class="sidebar-menu">
            <li class="header">Меню</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
              <a href="#"><i class="fa fa-th"></i> <span>Турниры</span> <i class="fa fa-angle-left pull-right"></i></a>
              {% tournament_list %}
            </li>
          </ul><!-- /.sidebar-menu -->
          </div>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb 'Главная' '/' %}
        {% endblock %}




        <section class="content-header">
          {% block title %}
          {% endblock %}
          {% render_breadcrumbs %}
        </section>

        <section class="content">
          {% block content %}
          {% endblock %}
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Сайт разработан в научных целях
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015.Контент предоставлен порталом sports.ru</strong>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
      <div class="tab-content">
      <form method="post">
              <h3 class="control-sidebar-heading">Настройки</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Авторизация
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Данный функционал пока не доступен
                </p>
              </div><!-- /.form-group -->
            </form>
      </div>      
        <!-- Create the tabs -->
        <!-- <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul> -->
        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

         
<script type="text/javascript">
 $(function() {
  $('.sparkbar').sparkline('html', {type: 'pie'});
  });
 </script>

 

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
          Both of these plugins are recommended to enhance the
          user experience. Slimscroll is required when using the
          fixed layout. -->
  </body>
</html>
