{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name 'tournament_home' %}
{% endblock %}


        <!-- Content Header (Page header) -->
          {% block title %}
          <h1>
            Турнир "{{tournament.name}}"
            <small>в цифрах</small>
          </h1>
          {% endblock %}

          {% block content %}
          <!-- Your Page Content Here -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{team_count}}</h3>
                  <p>Команд</p>
                </div>
                <div class="icon">
                  <i class="ion ion-android-people"></i>
                </div>
                <a href="{% url 'teams' tournament.id %}" class="small-box-footer">Подробнее<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{match_count}}</h3>
                  <p>Сыгранных матчей</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url  'matches' tournament.id %}" class="small-box-footer">Подробнее<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{players_count}}</h3>
                  <p>Футболистов в турнире</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url  'players' tournament.id %}" class="small-box-footer">Подробнее<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{points_count}}</h3>
                  <p>Набранных очков</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url  'pmr' tournament.id %}" class="small-box-footer">Подробнее <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Календарь</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="match_table" class="table">
                    <thead>
                      <tr>
                        <th style="width: 10px">Тур</th>
                        <th>Дата</th>
                        <th>Матч</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for match in match_list %}
                      <tr>
                      <td>{{match.tour}}</td>
                      <td>{{match.date|date:'d.m.Y'}}</td>
                      <td>{{match.full_name}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Лучшие игроки</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="player_table" class="table">
                    <thead>
                      <tr>
                        <th>Игрок</th>
                        <th>Команда</th>
                        <th>Очки</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for player in players_list %}
                      <tr>
                      <td>{{player.name}}</td>
                      <td>{{player.team.name}}</td>
                      <td>{{player.points}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Лучшие команды</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="team_table" class="table">
                    <thead>
                      <tr>
                        <th>Команда</th>
                        <th>Fantasy Очки</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for team in team_list %}
                      <tr>
                      <td>{{team.name}}</td>
                      <td>{{team.fantasypoints}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
    <script type="text/javascript">
    var m = (({{tournament.next_tour}}-1)*{{team_count}})/2;
    $( document ).ready(function(){
        $('#match_table').DataTable({
          "language": {
              "paginate": {
                "next": "&gt;",
                "previous":"&lt;"
              }},
          "displayStart": m,
          "paging": true,
          "searching": false,
          "lengthChange": false,
          "iDisplayLength":{{team_count}}/2,
          "ordering": false,
          "info": false,
          "autoWidth": true
        });
      });
  </script>

      {% endblock content %}  