{% extends "base.html" %}


        <!-- Content Header (Page header) -->
          {% block title %}
          <h1>
            Доступные чемпионаты
            <small></small>
          </h1>
          {% endblock %}
{% block content %}
          <div class="row">
          {% for tournament in tournament_list %}
            <div class="col-lg-3 col-xs-6">    
              <div class="info-box">
                <span class="info-box-icon bg-green">
                    <i class="fa fa-flag-o">
                    </i>
                </span>
                <div class="info-box-content">
                <span class="info-box-text"><a href="{% url 'tournament_home' tournament.id %}">{{tournament.name}}</a></span>
                <span class="info-box-number">{{tournament.date|date:'d.m.Y'}}</span>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
{% endblock %}