{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name "tournament_home" tournament.id %}
{% breadcrumb "Матчи" "matches" tournament.id  %}
{% breadcrumb match.full_name "match_detail" match.id %}

{% endblock %}

          {% block title %}
          <h1>
            Статистика Матча
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
              <div class="row">
                <div class="col-sm-6">
                  <div class="box box-info">
                    <div class="box-header">
                      <h3 class="box-title">{{match.home_team.name}}</h3>
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Забито</th>
                            <td>{{match.home_team_goals}}</td>
                          </tr>
                          <tr>
                            <th>Очков в матче</th>
                            <td>{{match.home_team_points}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.box-header -->
                    <div class="box-body">         
                      <div class="table-responsive">
                      <table id="home_team" class="table table-striped table-bordered" cellspacing="0">
                      <thead>
                        <tr>
                          <th style="width:10px">#</th>
                          <th>Игрок</th>
                          <th>Голы</th>
                          <th>П</th>
                          <th>НП</th>
                          <th>ЖК</th>
                          <th >КК</th>
                          <th>СМ</th>
                          <th >Очки</th>
                          <th >Минут</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pl in home_results %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td><a href="{% url 'player_detail' tournament.id pl.player.id %}">{{pl.player.name}}</a></td>
                          <td>{{pl.goals}}</td>
                          <td>{{pl.passes}}</td>
                          <td>{{pl.lose_penalty}}</td>
                          <td>{{pl.yellow_cards}}</td>
                          <td>{{pl.red_cards}}</td>
                          <td>{% if pl.clean_sheet %}+{% endif %}</td>
                          <td>{{pl.points}}</td>
                          <td>{{pl.minute}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="box box-info">
                    <div class="box-header">
                      <h3 class="box-title">{{match.visit_team.name}}</h3>
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Забито</th>
                            <td>{{match.visit_team_goals}}</td>
                          </tr>
                          <tr>
                            <th>Очков в матче</th>
                            <td>{{match.visit_team_points}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- /.box-header -->
                    <div class="box-body">         
                      <div class="table-responsive">
                      <table id="visit_team" class="table table-striped table-bordered" cellspacing="0">
                      <thead>
                        <tr>
                          <th style="width:10px">#</th>
                          <th>Игрок</th>
                          <th>Голы</th>
                          <th>П</th>
                          <th>НП</th>
                          <th>ЖК</th>
                          <th >КК</th>
                          <th>СМ</th>
                          <th >Очки</th>
                          <th >Минут</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pl in visit_results %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td><a href="{% url 'player_detail' tournament.id pl.player.id %}">{{pl.player.name}}</a></td>
                          <td>{{pl.goals}}</td>
                          <td>{{pl.passes}}</td>
                          <td>{{pl.lose_penalty}}</td>
                          <td>{{pl.yellow_cards}}</td>
                          <td>{{pl.red_cards}}</td>
                          <td>{% if pl.clean_sheet %}+{% endif %}</td>
                          <td>{{pl.points}}</td>
                          <td>{{pl.minute}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<script type="text/javascript">
    $( document ).ready(function(){
        $('#visit_team').DataTable({
          "paging": true,
          "searching": false,
          "lengthChange": false,
          "ordering": true,
          "info": false,
          "autoWidth": false
        });
      });
  </script>
<script type="text/javascript">
    $( document ).ready(function(){
        $('#home_team').DataTable({
          "paging": true,
          "searching": false,
          "lengthChange": false,
          "ordering": true,
          "info": false,
          "autoWidth": false
        });
      });
  </script>
{% endblock %}