{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name 'tournament_home' tournament.id %}
{% breadcrumb 'Матчи' 'matches' %}
{% endblock %}

          {% block title %}
          <h1>
            Статистика по матчам
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
  <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Результаты матчей</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
                    <table id="match_table" class="table">
                      <thead>
                        <tr>
                          <th>Тур</th>
                          <th>Дата</th>
                          <th>Счет</th>
                          <th>Очки</th>
                          <th>на sports</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr> -->
                      {% for match in match_list %}
                      <tr>
                        <td>{{match.tour}} </td>
                        <td>{{match.date|date:'d.m.Y'}}</td>
                        <td><a href="{% url 'match_detail' tournament.id match.id %}">{{match.full_name}}</a></td>
                        <td><span class="badge bg-blue">{% if match.home_team_points %} {{match.home_team_points}}{% else %}-{% endif %}</span>:<span class="badge bg-red">{% if match.visit_team_points %}{{match.visit_team_points}}{% else %}-{% endif %}</span></td>
                        <td><a href="{{match.url}}"><i class="fa fa-bookmark-o"></i></a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
  </div>
    <script type="text/javascript">
    $( document ).ready(function(){
        $('#match_table').DataTable({
          "paging": true,
          "searching": true,
          "lengthChange": false,
          "iDisplayLength": 6,
          "ordering": false,
          "info": false,
          "autoWidth": false
        });
      });
  </script>
  
{% endblock %}