{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name "tournament_home" tournament.id %}
{% breadcrumb "Игроки" "players" tournament.id  %}
{% breadcrumb player.name 'player_detail' player.id %}

{% endblock %}

          {% block title %}
          <h1>
            Статистика Игрока
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
              <div class="row">
                <div class="col-sm-3">
                  <div class="box box-info">
                    <div class="box-header">
                      <h3 class="box-title">{{player.name}}</h3>
                      <img src={{player.url_img}}>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                                          
                       <div class="table-responsive">

                          <table class="table">
                              <tbody>
                                <tr>
                                  <th>Команда</th>
                                  <td>{{player.team.name}}</td>
                                </tr>
                                <tr>
                                  <th>Позиция</th>
                                  <td>{{player.get_amplua_display}}</td>
                                </tr>
                                <tr>
                                  <th>Цена</th>
                                  <td>{{player.price}}</td>
                                </tr>
                                <tr>
                                  <th>Очков</th>
                                  <td>{{player.points}}</td>
                                </tr>
                                <tr>
                                  <th>Голов</th>
                                  <td>{{player.goals}}</td>
                                </tr>
                                <tr>
                                  <th>Передач</th>
                                  <td>{{player.passes}}</td>
                                </tr>
                                <tr>
                                  <th>Сухих матчей</th>
                                  <td>{{player.clean_sheets}}</td>
                                </tr>
                                <tr>
                                  <th>Пользователей выбрало</th>
                                  <td>{{player.userchoosed}}</td>
                                </tr>
                              </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="box box-info">
                    <table id="player" class="table table-striped table-bordered" cellspacing="0">
                      <thead>
                        <tr>
                          <th style="width:10px">#</th>
                          <th>Матч</th>
                          <th>Голы</th>
                          <th>Передачи</th>
                          <th>НП</th>
                          <th>ЖК</th>
                          <th >КК</th>
                          <th>СМ</th>
                          <th >Очки</th>
                          <th >Минут</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pmr in pmr_list %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{pmr.match.full_name}}</td>
                          <td>{{pmr.goals}}</td>
                          <td>{{pmr.passes}}</td>
                          <td>{{pmr.lose_penalty}}</td>
                          <td>{{pmr.yellow_cards}}</td>
                          <td>{{pmr.red_cards}}</td>
                          <td>{% if pmr.clean_sheet %}+{% endif %}</td>
                          <td>{{pmr.points}}</td>
                          <td>{{pmr.minute}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <div class="row">
    <div class="col-md-12">
      <div id="container" style="width:100%; height:400px;"></div>
    </div>
    
  </div>
<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Турнир'
        },
        subtitle: {
            text: '{{tournament.name}}'
        },
        xAxis: {
            categories: [ {% for pmr in pmr_list %} "{{pmr.match.tour}} Тур", {% endfor %} ]
        },
        yAxis: {
            title: {
                text: 'Показатели'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: 
            [
            {
            name: '{{player.name}}',
            data: [{% for pmr in pmr_list %}{{pmr.points}}, {% endfor %}]
              },
            ]
    });
});
</script>
    <script type="text/javascript">
    $( document ).ready(function(){
        $('#match_table').DataTable({
          "paging": true,
          "searching": false,
          "lengthChange": false,
          "ordering": false,
          "info": false,
          "autoWidth": false
        });
      });
  </script>
{% endblock %}