{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name 'tournament_home' tournament.id %}
{% breadcrumb 'Игроки' 'players' %}
{% endblock %}

          {% block title %}
          <h1>
            Статистика игроков
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
          <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Общие показатели</h3>
                </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-sm-12">
                  <table id="players" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="sortable" style="width: 10px">#</th>
                        <th>Имя</th>
                        <th>Команда</th>
                        <th>Цена</th>
                        <th>Амплуа</th>
                        <th>Прогресс</th>
                        <th >Очки</th>
                        <th>Г</th>
                        <th>П</th>
                        <th >СМ</th>
                        <th >5</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for player in players_list %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href ="{% url 'player_detail' tournament.id player.id %}">{{player.name}}</a></td>
                        <td>{{player.team.name}}</td>
                        <td>{{player.price}}</td>
                        <td>{{player.get_amplua_display}}</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width:{{player.points}}%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-orange">{{player.points}}</span></td>
                        <td>{{player.goals}}</td>
                        <td>{{player.passes}}</td>
                        <td>{{player.clean_sheets}}</td>
                        <td>
                        {% for p in player.pmr %}
                          <span class="badge bg-green">{{p}}</span>
                        {% endfor %}
                          </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
    <script type="text/javascript">
    $( document ).ready(function(){
        $('#players').DataTable({
          "paging": true,
          "searching": true,
          "lengthChange": false,
          "iDisplayLength": 10,
          "ordering": true,
          "info": false,
          "autoWidth": true
        });
      });
  </script>
{% endblock %}