{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb tournament.name 'tournament_home' tournament.id %}
{% breadcrumb 'Результаты' 'pmr' %}
{% endblock %}

          {% block title %}
          <h1>
            Результаты игроков
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
          <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-sm-12">
                  <div id="container" style="width:100%; height:100%;"></div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

<script type="text/javascript">
$(function () {
    $('#container').highcharts({

        chart: {
            type: 'bubble',
            zoomType: 'xy'
        },

        title: {
            text: 'Игроки'
        },

        series: [
        {% for player in players_list %}
        {
            name:'{{player.name}}',
            data: [[{{player.price}}, {{player.minutes}}, {{player.points}}]]
        }, 
        {% endfor %}
        ]
    });
});
</script>
{% endblock %}