{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb tournament.name "tournament_home" tournament.id %}
  {% breadcrumb "Команды" "teams" tournament.id %}
  {% breadcrumb team.name "team_detail" team.id %}
{% endblock %}

          {% block title %}
          <h1>
            Статистика команды
            <small></small>
          </h1>
          {% endblock %}

{% block content %}
              <div class="row">
                <div class="col-sm-3">
                    <p class="lead">{{team.name}}</p>
                  <div class="table-responsive">
                      <table class="table">
                          <tbody>
                            <tr>
                              <th>Место в лиге</th>
                              <td>{{team.place}}</td>
                            </tr>
                            <tr>
                              <th>Очков</th>
                              <td>{{team.points}}</td>
                            </tr>
                            <tr>
                              <th>Fantasy очков</th>
                              <td>{{team.fantasypoints}}</td>
                            </tr>
                            <tr>
                              <th>Победы</th>
                              <td>{{team.win}}</td>
                            </tr>
                            <tr>
                              <th>Поражения</th>
                              <td>{{team.lose}}</td>
                            </tr>
                            <tr>
                              <th>Ничьи</th>
                              <td>{{team.drawn}}</td>
                            </tr>
                            <tr>
                              <th>Забито</th>
                              <td>{{team.score_goals}}</td>
                            </tr>
                            <tr>
                              <th>Пропущено</th>
                              <td>{{team.lose_goals}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
                <div class="col-md-9">
                  <div id="container_donut" style="width:100%; height:200px;"></div>
                  <div id="container" style="width:100%; height:200px;"></div>
                </div>
                
              </div>
          <div class="row">
            <div class="col-sm-12">
                  <div class="box box-info">
                    <table id="players" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="sortable" style="width: 10px">#</th>
                        <th>Имя</th>
                        <th>Цена</th>
                        <th>Амплуа</th>
                        <th>Прогресс</th>
                        <th >Очки</th>
                        <th>Г</th>
                        <th>П</th>
                        <th >СМ</th>
                        <th >5</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for player in players_list %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href ="{% url 'player_detail' tournament.id player.id %}">{{player.name}}</a></td>
                        <td>{{player.price}}</td>
                        <td>{{player.get_amplua_display}}</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width:{{player.points}}%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-orange">{{player.points}}</span></td>
                        <td>{{player.goals}}</td>
                        <td>{{player.passes}}</td>
                        <td>{{player.clean_sheets}}</td>
                        <td>
                        {% for p in player.pmr %}
                          <span class="badge bg-green">{{p}}</span>
                        {% endfor %}
                          </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                  </div>
                </div>
    
          </div>
<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Турнир'
        },
        subtitle: {
            text: '{{tournament.name}}'
        },
        xAxis: {
            categories: [ {% for tr in tour_results %} "{{tr.tour}} Тур", {% endfor %} ]
        },
        yAxis: {
            title: {
                text: 'Очки'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: 
            [
            {
            name: '{{team.name}}',
            data: [{% for tr in tour_results %}{{tr.points}}, {% endfor %}]
              },
            ]
    });
});
</script>
    <script type="text/javascript">
    $( document ).ready(function(){
        $('#players').DataTable({
          "paging": true,
          "searching": false,
          "lengthChange": false,
          "iDisplayLength": 10,
          "ordering": true,
          "info": false,
          "autoWidth": true
        });
      });
  </script>

<script type="text/javascript">
  $(function () {
    $('#container_donut').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Статистика',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Очки',
            innerSize: '50%',
            data: [
                ['Вратари', {{team.goalkeeper_points}}],
                ['Защита', {{team.defs_points}}],
                ['Полузащита', {{team.mids_points}}],
                ['Нападение', {{team.forwards_points}}],
            ]
        }]
    });
});
</script>
{% endblock %}