{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
  {% breadcrumb tournament.name "tournament_home" tournament.id %}
  {% breadcrumb "Команды" "teams" tournament.id %}
{% endblock %}

{% block title %}
          <h1>
            Турнир "{{tournament.name}}"
            <small>в цифрах</small>
          </h1>
          {% endblock %}
{% block content %}
          <div class="row">
            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Командная статистика</h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <table class="table table-striped">
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Команда</th>
                      <th>Прогресс</th>
                      <th style="width: 40px">Очки</th>
                    </tr>
                    {% for team in team_list %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'team_detail' tournament.id team.id %}">{{team.name}}</a></td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width:{{team.progress}}%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">{{team.players_points}}</span></td>
                      </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->  
          </div><!-- /.row -->
<div class="row">
    <div class="col-md-12">
      <div id="container" style="width:100%; height:400px;"></div>
    </div>
    
  </div>
<!-- Sparkline -->
<script type="text/javascript">
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'line', 
            zoomType: 'xy'
        },
        title: {
            text: 'Турнир'
        },
        subtitle: {
            text: '{{tournament.name}}'
        },
        xAxis: {
            categories: []
        },
        yAxis: {
            title: {
                text: 'Очки'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: 
            [
            {% for team in team_list %}
            {
            name: '{{team.name}}',
            data: [{% for result in team.result_list %}{{result}},{% endfor %} ]
              },
            {% endfor %} 
            ]
    });
});
</script>

{% endblock %}