			<ul class="treeview-menu">
              {% for tournament in tournament_list %}
                <li><a href="/{{ tournament.id }}/">{{tournament.name}}</a></li>
              {% endfor %}
            </ul>